<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DatabaseContext" connectionString="Server=DESKTOP-LUK6BDU;Database=CustomerManagementDB;Integrated Security=True;"
		  providerName="System.Data.SqlClient" />
		<add name="ShippingContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=ShippingContext-20200502165709; Integrated Security=False; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ShippingContext-20200502165709.mdf"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>